@use "components";

body {
    border: 0;
    padding: 0;
}
.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 4rem;
    border-bottom: solid 1px #ddd;
}

.container {
    max-width: 816px;
    margin: 0 auto;
}

.logo {
    max-width: 1rem;
    color: components.$color-main;
    font-weight: 700;
    a {
        img {
            max-width: 6rem;
        }
    }
}

.sec-home {
    display: flex;
    .home-cta {
        a {
            text-decoration: none;
        }
        flex-grow: 1;
        .cta-text {
            color: components.$color-main;
        }
        .home-title {
            width: 22rem;
            font-size: 4rem;
        }
        .home-description {
            width: 22rem;
            font-weight: 500;
        }
    }
}

.sec-features {
    text-align: center;
    h3 {
        font-size: 2.2rem;
    }
    p {
        color: components.$color-gray;
    }
    .features-and-image {
        display: grid;
        grid-template-columns: 40% 1fr;
        .features {
            display: flex;
            flex-direction: column;
            .feature {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                align-items: flex-start;
                .description {
                    text-align: left;
                }
                .title {
                    font-size: 1.2rem;
                    font-weight: 700;
                }
                .text {
                    font-size: 1rem;
                    font-weight: 400;
                }
            }
        }
        .image {
        }
    }
}
